@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - projeto</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">projeto</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            &nbsp;
          </ul>
          @await Html.PartialAsync("_LoginPartial")
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            @if (SignInManager.IsSignedIn(User))
            {
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#menu1" aria-expanded="false" aria-controls="multiCollapseExample1">Usuários</a>
              <div class="collapse multi-collapse" id="menu1">
                  <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-muted" asp-controller="Account" asp-action="Register">Criar</a>
                        <a class="nav-link text-muted"  asp-controller="Account" asp-action="Index">Listar</a>
                    </li>
                  </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#menu2" aria-expanded="false" aria-controls="multiCollapseExample1">Matérias</a>
              <div class="collapse multi-collapse" id="menu2">
                  <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-muted" asp-controller="Subject" asp-action="Create">Criar</a>
                        <a class="nav-link text-muted"  asp-controller="Subject" asp-action="Index">Listar</a>
                    </li>
                  </ul>
              </div>
            </li>

            @*<li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#menu3" aria-expanded="false" aria-controls="multiCollapseExample1">Módulos</a>
              <div class="collapse multi-collapse" id="menu3">
                  <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-muted" asp-controller="Module" asp-action="Create">Criar</a>
                        <a class="nav-link text-muted"  asp-controller="Module" asp-action="Index">Listar</a>
                    </li>
                  </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#menu4" aria-expanded="false" aria-controls="multiCollapseExample1">Tópicos</a>
              <div class="collapse multi-collapse" id="menu4">
                  <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-muted" asp-controller="Topic" asp-action="Create">Criar</a>
                        <a class="nav-link text-muted"  asp-controller="Topic" asp-action="Index">Listar</a>
                    </li>
                  </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#menu5" aria-expanded="false" aria-controls="multiCollapseExample1">Questões</a>
              <div class="collapse multi-collapse" id="menu5">
                  <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-muted" asp-controller="Question" asp-action="Create">Criar</a>
                        <a class="nav-link text-muted"  asp-controller="Question" asp-action="Index">Listar</a>
                    </li>
                  </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#menu6" aria-expanded="false" aria-controls="multiCollapseExample1">Papéis</a>
              <div class="collapse multi-collapse" id="menu6">
                  <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-muted" asp-controller="Role" asp-action="Create">Criar</a>
                        <a class="nav-link text-muted"  asp-controller="Role" asp-action="Index">Listar</a>
                    </li>
                  </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#menu7" aria-expanded="false" aria-controls="multiCollapseExample1">Permissões</a>
              <div class="collapse multi-collapse" id="menu7">
                  <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-muted" asp-controller="Permission" asp-action="Create">Criar</a>
                        <a class="nav-link text-muted"  asp-controller="Permission" asp-action="Index">Listar</a>
                    </li>
                  </ul>
              </div>
            </li>*@
            }
          </ul>
        </nav>
        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            @RenderBody()
        </main>
      </div>
    </div>

    <environment include="Development">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    
    
    @RenderSection("Scripts", required: false)

</body>
</html>
