@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h2 class="text-danger">N E G A D O</h2>
    <p class="text-danger">Você não possui permissão para acessar este recurso.</p>
</header>
