@model projeto.Models.Question

@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastrar</h2>

<h4>Pergunta</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <div id="form-questao">
            <questao-item v-for="item in questoes" v-bind:questao="item" v-bind:key="item.identificador">
                
            </questao-item>
            <button type="button" class="btn btn-default" v-on:click="criarQuestao()">Adicionar Questão</button>
            <button type="button" class="btn btn-default" v-on:click="enviarQuestoes()">Salvar Questões</button>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à listagem</a>
</div>


@section Scripts {
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/question-form.js"></script>
}
