@model IEnumerable<projeto.Models.Question>

@{
    ViewData["Title"] = "Perguntas";
}

<h2>Perguntas</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <div id="form-questao">
            <questao-item v-for="(item, index) in questoes" v-bind:questao="item" v-bind:key="item.identificador" v-on:apagar="apagar(index)"></questao-item>
            <button type="button" class="btn btn-default" v-on:click="criarQuestao()">Adicionar Questão</button>
            <button type="button" class="btn btn-default" v-on:click="enviarQuestoes()">Salvar Questões</button>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à listagem</a>
</div>


@section Scripts {
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/question-view.js"></script>
}
