@{
    ViewData["Title"] = "bioq - Administração";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">bioq - Administração</h1>
    <p class="lead">Bem vindo ao sistema de administração do bioq.</p>
  </div>
</div>