@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">[nome bonito do projeto aqui]</h1>
    <p class="lead">Bem vindo ao sistema massa.</p>
  </div>
</div>